[Unit]
Description=Igk vpn service
After=network.target
StartLimitIntervalSec=0
[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/sbin/openvpn --config igk-pf1-TCP4-443-pjanota.ovpn
WorkingDirectory=/home/pljanot/openvpn-2.4.6/igk-pf1-TCP4-443-pjanota

[Install]
WantedBy=multi-user.target
