[Unit]
Description=Corporate vpn service
After=network.target
StartLimitIntervalSec=0
[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/sbin/openvpn --config corporate.ovpn
WorkingDirectory=/$HOME/openvpn-2.4.6/corporate-pf1

[Install]
WantedBy=multi-user.target
